body {
    background-color: #E5E5E5;
}

.square {
    margin: 100px 100px;
    display: inline-block;
}

.background_yellow {
    background-color: #FFD84B;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 512px;
    width: 512px;


}

.background_blue {
    background-color: #2137FC;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 256px;
    width: 512px;
}

.lightning {
    padding-top: 143px;
    padding-left: 55px;
}

.figure_1 {
    padding-top: 55px;
}

.figure_2 {
    padding-left: 173px;
    padding-top: 128px;
}

.figure_3 {
    padding-left: 85px;
    padding-top: 159px;
}

.figure_4 {
    padding-left: 85px;
    padding-top: 45px;
}

.background_black {
    height: 512px;
    width: 512px;
    background-color: black;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.flag {
    padding-left: 21px;
    padding-top: 23px;

}

.flag_2 {
    padding-left: 300px;
    padding-top: 23px;

}

.flag3 {
    padding-left: 214px;
    padding-top: 35px;
}

.circle {
    margin: 100px 100px;
    display: inline-block;
}

.circle_1 {
    width: 500px;
    height: 500px;
    border-radius: 100%;
    overflow: hidden;
    margin: 60px;

}

.lightning_incircle {
    padding-top: 246px;
    padding-left: 58px;
}

.figure_cir1 {
    padding-top: 60px;
    padding-left: 80px;
}

.figure_cir2 {
    padding-top: 60px;
    padding-left: 84px;
}

.figure_titcircl {
    padding-top: 160px;
    padding-left: 85px;
}

.circle_background {
    border: 1px solid white;
    background-color: white;
    margin-right: 1177px;

}

.background_yelcircle {
    background-color: #FFD84B;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 512px;
    width: 512px;


}

.background_blcircle {
    background-color: #2137FC;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 256px;
    width: 512px;
}